{% extends "base.html.twig" %}

{% block title %}Le Calendrier de la semaine des stream de matsu
{% endblock %}


{% block content %}
	<section id="block-container">
		<div id="block-calendar" style="padding-bottom: 12%;">
			<h1>Calendrier de la semaine</h1>
			<div class="line"></div>
			<p>Voici le calendrier des streams de la semaine.</p>
			<!-- Calendar -->

			{# si la taille de la box fait 550px tu divise 550px par 15px car, il y a 24 heures dans une journée et vue que tu commence à 9h00 tes stream tu fais 24-9 = 15px dans une journée ce qui te donne 36.6px pour une heure  #}

			<div id="calendar" style="display:flex; flex-wrap:wrap; justify-content:space-around; width: 100%; margin-top: 23px;">

				{% for day in days %}

					<div class="block-day">
						<div class="day">{{day.name}}</div>
						<div class="event">

							{% for event in events %}

								{% if event.dayID.id == day.id %}


									{% if event.starteventat|date('H') == 0 and event.isfullday != 1 %}
										<div class="block-event" style="background-image: url('{{event.image}}'); height: {{ (((event.endeventat|date('H')) + (event.endeventat|date('i') / 60)) - ((event.starteventat|date('H')) + (event.starteventat|date('i') / 60))) * 21}}px;">
											<p>
												{{event.starteventat|date('H')}}H{{event.starteventat|date('i')}}
												à
												{{event.endeventat|date('H')}}H{{event.endeventat|date('i')}}</p>
											<p>{{event.name}}</p>
										</div>

										{% set oldendeventat = (((event.endeventat|date('H')) + (event.endeventat|date('i') / 60))) %}

									{% endif %}

									{% if event.isfullday != 0 %}

										<div class="block-event" style="background-image: url('{{event.image}}'); height: 100%;">
											<p>Journée</p>
											<p>{{event.name}}</p>
										</div>

									{% endif %}

									{% if event.starteventat|date('H') != 0 and event.isfullday != 1 %}


										<div class="block-event" style="background-image: url('{{event.image}}'); height: {{ (((event.endeventat|date('H')) + (event.endeventat|date('i') / 60)) - ((event.starteventat|date('H')) + (event.starteventat|date('i') / 60))) * 21  }}px;  margin-top: {{ ((( oldendeventat ) - (((event.starteventat|date('i')) / 60) + (event.starteventat|date('H')))) * 22.9)|abs }}px;">
											<p>
												{{event.starteventat|date('H')}}H{{event.starteventat|date('i')}}
												à
												{{event.endeventat|date('H')}}H{{event.endeventat|date('i')}}</p>
											<p>{{event.name}}</p>
										</div>

										{% set oldendeventat = (((event.endeventat|date('H')) + (event.endeventat|date('i') / 60))) %}
									{% endif %}

								{% endif %}
							{% endfor %}

						</div>
					</div>

				{% endfor %}


			</div>

		</div>

	</section>
{% endblock %}
