{% extends "base.html.twig" %}

{% block title %}Gestion Du calendrier de la semaine
{% endblock %}


{% block content %}

	<div class="card">
		<div class="card-header">
			<h5>Les evenement de cette semaine</h5>
		</div>
		<div class="card-block">
			<div class="row">

				<div class="col-sm-12">

					<div class="card">
						<div class="card-header">
							<h5>Gerer votre calendrier</h5>
							<span>cette page liste les evenements de cette semaine vous pouvez en rajouter ou supprimer.</span>
							<div class="card-header-right">
								<ul class="list-unstyled card-option">
									<li>
										<i class="fa fa fa-wrench open-card-option"></i>
									</li>
									<li>
										<i class="fa fa-window-maximize full-card"></i>
									</li>
								</ul>
							</div>
						</div>
						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-inverse">
									<thead>
										<tr>
											<th>#</th>
											<th>jour</th>
											<th>debut</th>
											<th>fin</th>
											<th>titre du live</th>
											<th>image</th>
											<th>toute la journée ?</th>
											<th>option</th>
										</tr>
									</thead>
									<tbody>
										{% for calendar in calendars %}
											<tr>
												<th scope="row">{{calendar.id}}</th>
												<td>
													{{calendar.dayID.name}}
												</td>
												<td>{{calendar.startevenat}}</td>
												<td>{{calendar.endevenat}}</td>
												<td>{{calendar.name}}</td>
												<td><img src="{{calendar.image}}" alt="evenement" style="max-height:50px"></td>
												<td>
													{% if calendar.isfullday == 1 %}
														Oui
													{% else %}
														Non
													{% endif %}
												</td>
												<td>
													<a href="/admin/calendrier/{{calendar.id}}">
														<button class="btn btn-success">
															<i class="fas fa-edit"></i>
														</button>
													</a>
													<a href="/admin/calendrier/{{calendar.id}}/remove">
														<button class="btn btn-danger">
															<i class="fas fa-trash-alt"></i>
														</button>
													</a>
												</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>

					{% if get.removed == 1 %}
						<p style="color:red" class="text-center">
							Commande Supprimé</p>
					{% endif %}

					{% if get.add == 1 %}
						<p style="color:green" class="text-center">
							Commande Rajouté</p>
					{% endif %}

					<a href="/admin/calendrier/add">
						<button class="btn btn-success waves-effect waves-light">Ajouter un evenement</button>
					</a>
				</div>


			</div>
		</div>
	</div>


{% endblock %}
