{% extends "base.html.twig" %}

{% block title %}Gestion Des commandes
{% endblock %}


{% block content %}

	<div class="card">
		<div class="card-header">
			<h5>Commandes</h5>
		</div>
		<div class="card-block">
			<div class="row">

				<div class="col-sm-12">

					<div class="card">
						<div class="card-header">
							<h5>Gerer les commandes de votre bot</h5>
							<span>cette page liste les commandes disponible dans votre stream vous pouvez en rajouter ou en supprimer.</span>
							<div class="card-header-right">
								<ul class="list-unstyled card-option">
									<li>
										<i class="fa fa fa-wrench open-card-option"></i>
									</li>
									<li>
										<i class="fa fa-window-maximize full-card"></i>
									</li>
								</ul>
							</div>
						</div>
						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-inverse">
									<thead>
										<tr>
											<th>#</th>
											<th>categorie</th>
											<th>commande</th>
											<th>content</th>
											<th>coût</th>
											<th>activé</th>
											<th>option</th>
										</tr>
									</thead>
									<tbody>
										{% for command in commands %}
											<tr>
												<th scope="row">{{command.id}}</th>
												<td>{{command.categoryID.name}}</td>
												<td>
													{{command.command}}
												</td>
												<td>{{command.content}}</td>
												<td>{{command.cost}}</td>
												<td>{{command.actived}}</td>
												<td>
													<a href="/admin/commandes/{{command.id}}">
														<button class="btn btn-success">
															<i class="fas fa-edit"></i>
														</button>
													</a>
													<a href="/admin/commandes/{{command.id}}/remove">
														<button class="btn btn-danger">
															<i class="fas fa-trash-alt"></i>
														</button>
													</a>
												</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>

					{% if get.removed == 1 %}
						<p style="color:red" class="text-center">
							Commande Supprimé</p>
					{% endif %}

					{% if get.add == 1 %}
						<p style="color:green" class="text-center">
							Commande Rajouté</p>
					{% endif %}

					<a href="/admin/commandes/add">
						<button class="btn btn-success waves-effect waves-light">Ajouter une commande</button>
					</a>
				</div>


			</div>
		</div>
	</div>


{% endblock %}
